.label--container {
  max-height: 60vh;
  overflow-x: auto;
}

.create--label {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.create--label input,
.label--item input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--black);
  width: 100%;
}

.error-text {
  font-size: 0.8rem;
  color: var(--danger-dark);
}

.close--btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.close--btn svg {
  font-size: 1rem;
}

.label--item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  gap: 1rem;
}
