.form--container {
  position: fixed;
  z-index: 30;
  width: 60%;
}

.form--container .input--container {
  margin: 0;
  margin-bottom: 1rem;
}

.editor {
  height: 15rem;
  overflow-y: auto;
}

.editor .quill {
  height: 75%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay-notes {
  z-index: 28;
}

.form--cta {
  display: flex;
  justify-content: space-between;
}

.form--cta .toolbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form--cta .cta--container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .form--container {
    width: 85%;
  }
}
