.sidebar {
  margin: 1rem;
  max-width: 12rem;
  position: fixed;
}

.sidebar--item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.2rem 0.8rem;
  margin: 1.2rem 0;
  width: fit-content;
}

.icon.icon--md {
  font-size: 1.4rem;
}

.sidebar--item:hover {
  background-color: var(--primary--light);
}

.sidebar--title {
  letter-spacing: -0.7px;
}

@media only screen and (max-width: 600px) {
  .icon.icon--md {
    font-size: 1.8rem;
  }
  .sidebar {
    max-width: 5rem;
  }

  .sidebar--title {
    display: none;
  }

  .open .sidebar {
    position: fixed;
    z-index: 20;
    background-color: var(--white);
    top: 0;
    margin: 0;
    bottom: 0;
    padding: 1rem;
    padding-top: 15vh;
    max-width: 15rem;
    overflow-y: auto;
  }
  .open .sidebar--title {
    display: block;
  }
}
