.main--container {
  margin: 1rem;
  margin-left: 13rem;
}

.notes--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .main--container {
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 480px) {
  .main--container {
    margin-left: 0.5rem;
  }
}
